{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-async-to-generator",
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}
