{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-filename-extension": ["off"],
    "react/no-find-dom-node": ["off"],
    "react/prop-types": ["error"],
    "no-underscore-dangle": ["error", { "allow": [] }],
    "class-methods-use-this": ["off"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/mock/**/**.js"]}],
    "no-shadow": ["off"],
    "import/prefer-default-export": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "react/no-string-refs": ["off"],
    "react/require-default-props": ["off"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
