@import "variables";

:local {
  .normal {
    display: flex;
    flex-direction: column;

    .errorMsg {
      margin: auto;
      color: $error-color;
      font-size: 11px;
    }

    .showError {
      opacity: 1;
    }
  }

  h3,
  .submitBtn {
    display: block;
    margin: 0 auto 20px;
  }
}
