
.normal {
  display: flex;
  flex-direction: column;

  .errorMsg {
    margin: auto;
    color: #f04134;
    font-size: 11px;
  }

  .showError {
    opacity: 1;
  }
}

h3,
.submitBtn {
  display: block;
  margin: 0 auto 20px;
}
